@media only screen and (max-width: 608px){
nav#menu span.fa.fa-bars {
left: 60px;
}
.header-text.btn {
height: auto;
white-space: inherit;
}
.hover-bg .hover-text {
padding: 15% 0;
}
}

@media only screen and (max-width: 460px){
h3 {
    font-size: 12px;
}
nav#menu span.fa.fa-bars {
left: 30px;
}
.content {
padding-top: 30%;
}
.hover-bg .hover-text {
padding: 20% 0;
}
#overview-video .overlay {
    padding: 30% 0px;
}
}
@media only screen and (max-width: 360px){
h1 {
    font-size: 36px;
}
h3 {
    font-size: 11px;
}
hover-bg .hover-text {
    padding: 25% 0px;
}
.pull-left,
.pull-right {
    float: none !important;
    text-align: center;
}
}
@media only screen and (max-width: 320px){
h1 {
    font-size: 30px;
}
hover-bg .hover-text {
    padding: 30% 0px;
}
}

/* Nav Bar Responsiveness */
@media only screen and (min-width: 1200px){
    header .hamburger{display: none;}
    header .nav-list .ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
	header .header .nav-bar .nav-list ul li>a{
		font-size: 18px;
	}
	header .nav-bar .brand>a>img{
		width: 150px;
	}
    header .nav-list .ul li{display: inline-block;}
    header .nav-list .ul li a{font-size: 1.8rem;}
    header .nav-list .ul a::after{display: none;}
}
@media (max-width:1200px){
	header .nav-bar .brand>a>img{
		width: 140px;
	}
	header .header .nav-bar .nav-list .hamburger{
        transform: scale(0.7);
		margin-right: 0;
    }
}
@media (min-width: 280px) and (max-width: 540px){
	header .nav-bar .brand>a>img{
		width: 100px;
	}
    header .header .nav-bar .nav-list ul li>a{
		font-size: 15px;
	}
}
@media (min-width: 280px) and (max-width: 580px){
	header .header .nav-bar .nav-list .hamburger{
        transform: scale(0.5);
		margin-right: 0;
    }
}
/* Nav Bar Responsiveness END */
